<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<nav th:replace="fragments/header :: nav"></nav>
<div class="container">
    <div class="row mt-5">
        <div class="card w-75 m-auto mt-5">
            <h5 class="card-header" th:text="#{AddingAuthor}"></h5>
            <div class="card-body">
                <form th:action="@{/admin/addauthor}" method="post" th:object="${author}">
                    <div class="alert alert-success" role="alert" th:if="${param.addAuthorMessage != null}"
                    th:text="${param.addAuthorMessage}"></div>
                    <div class="form-group">
                        <label for="InputName" th:text="#{firstName}"></label>
                        <input type="text" class="form-control" name="firstName" th:field="*{firstName}"
                               id="InputName" th:placeholder="#{firstName}" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="InputDescription" th:text="#{lastName}"></label>
                        <input type="text" class="form-control" name="lastName" th:field="*{lastName}"
                               id="InputDescription" th:placeholder="#{lastName}" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3" th:text="#{AddAuthor}"></button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</html>
