<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<nav th:replace="fragments/header :: nav"></nav>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{Id}"></th>
                <th th:text="#{Name}"></th>
                <th th:text="#{PhoneNumber}"></th>
            </tr>
            </thead>
            <tr th:each="book : ${books}">
                <td><span th:text="${book.id}"></span></td>
                <td><span th:text="${book.name}"></span></td>
                <td><span th:text="${book.shelfId}"></span></td>
            </tr>
        </table>
        <!--<nav aria-label="page navigation" th:if="${bookTrackings.totalPages > 0}" >
            <ul class="pagination">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                    th:classappend="${pageNumber==bookTrackings.number + 1} ? active">
                    <a class="page-link"
                       th:href="@{/admin/register(size=${bookTrackings.size}, page=${pageNumber})}"
                       th:text="${pageNumber}">
                    </a>
                </li>
            </ul>
        </nav>-->
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

