<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<nav th:replace="fragments/header :: nav"></nav>
<div class="container">
    <div class="row mt-5">
        <div class="card w-75 m-auto mt-5">
            <div class="card-body">
                <form th:action="@{/book/{id}(id=${book.id})}" method="post">
                    <input type="hidden" name="bookId" value="${requestScope.book.id}"/>
                    <div th:if="${param.takeBookSuccessful}" th:text="#{takeBookSuccessful}" class="alert alert-success"
                         role="alert">
                    </div>
                    <h5 class="card-title" th:text="${book.name}"></h5>
                    <h6 class="card-title">by
                        <div th:each="author : ${book.authors}">
                            <span th:text="${author.firstName}"> AuthorName </span>
                            <span th:text="${author.lastName}"> AuthorLastName </span>
                        </div>
                    </h6>
                    <p class="card-text" th:text="${book.description}"> Description </p>
                    <button type="submit" class="btn"
                            th:classappend="${bookIsAlreadyTaken} ? btn-secondary : btn-primary"
                            th:disabled="${bookIsAlreadyTaken}"
                            th:text="#{Take_for_1_month}"
                    >
                    </button>
                    <a href="javascript:history.go(-2)" class="btn btn-primary" th:if="${param.takeBookSuccessful}"
                       th:text="#{Back}">
                    </a>
                    <a href="javascript:history.go(-1)" class="btn btn-primary" th:if="${param.takeBookSuccessful == null}"
                        th:text="#{Back}">
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</html>