<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<nav th:replace="fragments/header :: nav"></nav>
<div class="container">
    <div class="row" th:if="${session.user} == null">
        <div class="col-3"></div>
        <div class="col-6 mt-5">
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1" th:text="#{EnterEmail}"></label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                           aria-describedby="emailHelp" th:placeholder="#{EnterEmail}" required autofocus>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" th:text="#{Password}"></label>
                    <input type="password" class="form-control" name="password"
                           id="exampleInputPassword1" th:placeholder="#{Password}" required>
                </div>
                <div th:if="${param.error}" th:text="#{loginWarningMessage}" class="alert alert-danger" role="alert">
                </div>
                <button type="submit" class="btn btn-primary" th:text="#{SignIn}"></button>
                <a class="btn btn-success ml-3" href="/registration" th:text="#{Registration}"></a>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</html>

